/.idea/.gitignore
/.idea/modules.xml
/.idea/puregerm.iml
/.idea/vcs.xml
/.spago/console/v6.0.0/
/.spago/effect/v4.0.0/
/.spago/prelude/v6.0.1/
/output/Control.Applicative/externs.cbor
/output/Control.Applicative/index.js
/output/Control.Apply/externs.cbor
/output/Control.Apply/foreign.js
/output/Control.Apply/index.js
/output/Control.Bind/externs.cbor
/output/Control.Bind/foreign.js
/output/Control.Bind/index.js
/output/Control.Category/externs.cbor
/output/Control.Category/index.js
/output/Control.Monad/externs.cbor
/output/Control.Monad/index.js
/output/Control.Semigroupoid/externs.cbor
/output/Control.Semigroupoid/index.js
/output/Data.Boolean/externs.cbor
/output/Data.Boolean/index.js
/output/Data.BooleanAlgebra/externs.cbor
/output/Data.BooleanAlgebra/index.js
/output/Data.Bounded/externs.cbor
/output/Data.Bounded/foreign.js
/output/Data.Bounded/index.js
/output/Data.Bounded.Generic/externs.cbor
/output/Data.Bounded.Generic/index.js
/output/Data.CommutativeRing/externs.cbor
/output/Data.CommutativeRing/index.js
/output/Data.DivisionRing/externs.cbor
/output/Data.DivisionRing/index.js
/output/Data.Eq/externs.cbor
/output/Data.Eq/foreign.js
/output/Data.Eq/index.js
/output/Data.Eq.Generic/externs.cbor
/output/Data.Eq.Generic/index.js
/output/Data.EuclideanRing/externs.cbor
/output/Data.EuclideanRing/foreign.js
/output/Data.EuclideanRing/index.js
/output/Data.Field/externs.cbor
/output/Data.Field/index.js
/output/Data.Function/externs.cbor
/output/Data.Function/index.js
/output/Data.Functor/externs.cbor
/output/Data.Functor/foreign.js
/output/Data.Functor/index.js
/output/Data.Generic.Rep/externs.cbor
/output/Data.Generic.Rep/index.js
/output/Data.HeytingAlgebra/externs.cbor
/output/Data.HeytingAlgebra/foreign.js
/output/Data.HeytingAlgebra/index.js
/output/Data.HeytingAlgebra.Generic/externs.cbor
/output/Data.HeytingAlgebra.Generic/index.js
/output/Data.Monoid/externs.cbor
/output/Data.Monoid/index.js
/output/Data.Monoid.Additive/externs.cbor
/output/Data.Monoid.Additive/index.js
/output/Data.Monoid.Conj/externs.cbor
/output/Data.Monoid.Conj/index.js
/output/Data.Monoid.Disj/externs.cbor
/output/Data.Monoid.Disj/index.js
/output/Data.Monoid.Dual/externs.cbor
/output/Data.Monoid.Dual/index.js
/output/Data.Monoid.Endo/externs.cbor
/output/Data.Monoid.Endo/index.js
/output/Data.Monoid.Generic/externs.cbor
/output/Data.Monoid.Generic/index.js
/output/Data.Monoid.Multiplicative/externs.cbor
/output/Data.Monoid.Multiplicative/index.js
/output/Data.NaturalTransformation/externs.cbor
/output/Data.NaturalTransformation/index.js
/output/Data.Ord/externs.cbor
/output/Data.Ord/foreign.js
/output/Data.Ord/index.js
/output/Data.Ord.Generic/externs.cbor
/output/Data.Ord.Generic/index.js
/output/Data.Ordering/externs.cbor
/output/Data.Ordering/index.js
/output/Data.Reflectable/externs.cbor
/output/Data.Reflectable/foreign.js
/output/Data.Reflectable/index.js
/output/Data.Ring/externs.cbor
/output/Data.Ring/foreign.js
/output/Data.Ring/index.js
/output/Data.Ring.Generic/externs.cbor
/output/Data.Ring.Generic/index.js
/output/Data.Semigroup/externs.cbor
/output/Data.Semigroup/foreign.js
/output/Data.Semigroup/index.js
/output/Data.Semigroup.First/externs.cbor
/output/Data.Semigroup.First/index.js
/output/Data.Semigroup.Generic/externs.cbor
/output/Data.Semigroup.Generic/index.js
/output/Data.Semigroup.Last/externs.cbor
/output/Data.Semigroup.Last/index.js
/output/Data.Semiring/externs.cbor
/output/Data.Semiring/foreign.js
/output/Data.Semiring/index.js
/output/Data.Semiring.Generic/externs.cbor
/output/Data.Semiring.Generic/index.js
/output/Data.Show/externs.cbor
/output/Data.Show/foreign.js
/output/Data.Show/index.js
/output/Data.Show.Generic/externs.cbor
/output/Data.Show.Generic/foreign.js
/output/Data.Show.Generic/index.js
/output/Data.Symbol/externs.cbor
/output/Data.Symbol/foreign.js
/output/Data.Symbol/index.js
/output/Data.Unit/externs.cbor
/output/Data.Unit/foreign.js
/output/Data.Unit/index.js
/output/Data.Void/externs.cbor
/output/Data.Void/index.js
/output/Effect/externs.cbor
/output/Effect/foreign.js
/output/Effect/index.js
/output/Effect.Class/externs.cbor
/output/Effect.Class/index.js
/output/Effect.Class.Console/externs.cbor
/output/Effect.Class.Console/index.js
/output/Effect.Console/externs.cbor
/output/Effect.Console/foreign.js
/output/Effect.Console/index.js
/output/Effect.Uncurried/externs.cbor
/output/Effect.Uncurried/foreign.js
/output/Effect.Uncurried/index.js
/output/Effect.Unsafe/externs.cbor
/output/Effect.Unsafe/foreign.js
/output/Effect.Unsafe/index.js
/output/Main/externs.cbor
/output/Main/foreign.js
/output/Main/index.js
/output/Prelude/externs.cbor
/output/Prelude/index.js
/output/Record.Unsafe/externs.cbor
/output/Record.Unsafe/foreign.js
/output/Record.Unsafe/index.js
/output/Test.Main/externs.cbor
/output/Test.Main/index.js
/output/Type.Proxy/externs.cbor
/output/Type.Proxy/index.js
/output/cache-db.json
/output/package.json
